{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js"]
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 100
      }
    ],
    "react/prop-types": false,
    "no-use-before-define": 0,
    "react/destructuring-assignment": false,
    "no-underscore-dangle": 0,
    "global-require": 0,
    "no-alert": 0,
    "no-return-assign": 0,
    "no-undef": 0
  },
  "plugins": ["prettier"],
  "parser": "babel-eslint"
}